<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form [formGroup]="usuarioForm" (ngSubmit)="crearMercancia(usuarioForm.value)">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Usuario</mat-label>
                    <input id="nombre" formControlName="nombre" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Edad</mat-label>
                    <input type="number" id="edad" formControlName="edad" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input id="fechaIngreso" formControlName="fechaIngreso" matInput [matDatepicker]="picker"
                        [min]="minDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Documento</mat-label>
                    <input type="number" id="documento" formControlName="documento" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cargo Usuario</mat-label>
                    <mat-select id="cargo" formControlName="cargo">
                        <mat-option>Seleccione Cargo</mat-option>
                        <mat-option value="Asesor de Ventas">Asesor de Ventas</mat-option>
                        <mat-option value="Administrador">Administrador</mat-option>
                        <mat-option value="Soporte">Soporte</mat-option>
                        <mat-option value="Desarrollador">Desarrollador</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="example-button-row">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>