<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h3>Mercancias</h3>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input name="filterPost" [(ngModel)]="filterPost" matInput>
        </mat-form-field>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Nombre Mercancia</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Documento Usuario</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mercancias " class="text-center"
                        (click)="editarMercancia(item.id)">
                        <td>{{item.id}}</td>
                        <td>{{item.nombreproducto}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.fechaingreso}}</td>
                        <td>{{item.documentoregistro}}</td>
                        <td>
                            <div class="example-button-container">
                                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                                    <mat-icon>bookmark</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>
</div>