<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form [formGroup]="mercanciaFormEdit" (ngSubmit)="editMercancia(mercanciaFormEdit.value)">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Mercancia</mat-label>
                    <input id="nombreproducto" formControlName="nombreproducto" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input type="number" id="cantidad" formControlName="cantidad" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input id="fechaingreso" formControlName="fechaingreso" matInput [matDatepicker]="picker"
                        [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Documento Quien Registra</mat-label>
                    <mat-select id="documentoregistro" formControlName="documentoregistro">
                        <mat-option>Seleccione Documento</mat-option>
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}} /
                            {{usuario.documento}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="example-button-row">
                    <button type="button" (click)="eliminarMercancia()" mat-raised-button>Eliminar</button>
                    <button type="submit" mat-raised-button color="primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h3>Historial de cambios</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Nombre Mercancia</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Documento Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mercancias" class="text-center">
                        <td>{{item.id}}</td>
                        <td>{{item.nombreproducto}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.fechaingreso}}</td>
                        <td>{{item.documentoregistro}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>