<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="content" role="main">
  <div class="container">
    <div style="text-align: center;">
      <span>{{ title }} app is running!</span>
    </div>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Mercancia</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <div class="example-button-container">
        <button (click)="Listar()" mat-mini-fab color="primary" aria-label="Listar mercancia registradas">
          <mat-icon>menu</mat-icon>
        </button>
        Listar
      </div>
      <div class="example-button-container">
        <button (click)="Nuevo()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
        Nuevo
      </div>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Usuario</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="NuevoUsuario()">Nuevo Usuario</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <!-- Highlight Card -->
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>