<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form [formGroup]="mercanciaForm" (ngSubmit)="crearMercancia(mercanciaForm.value)">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Mercancia</mat-label>
                    <input id="nombreproducto" formControlName="nombreproducto" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input type="number" id="cantidad" formControlName="cantidad" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input id="fechaingreso" formControlName="fechaingreso" matInput [matDatepicker]="picker" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Documento Quien Registra</mat-label>
                    <mat-select id="documentoregistro" formControlName="documentoregistro">
                        <mat-option>Seleccione Documento</mat-option>
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}} /
                            {{usuario.documento}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="example-button-row">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>